<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="standoff_rod" params="prefix parent origin_xyz radius:=0.01 length:=0.220">
    <link name="standoff_rod_${prefix}">
      <visual>
        <geometry><cylinder radius="${radius}" length="${length}"/></geometry>
        <material name="$(arg robot_name)_grey"/>
      </visual>
      <collision>
        <geometry><cylinder radius="${radius}" length="${length}"/></geometry>
      </collision>
      <inertial>
        <mass value="0.02"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.00008117" ixy="0" ixz="0" iyy="0.00008117" iyz="0" izz="0.000001"/>
      </inertial>
    </link>

    <joint name="main_link_to_rod${prefix}_joint" type="fixed">
      <origin rpy="0 0 0" xyz="${origin_xyz}"/>
      <parent link="${parent}"/>
      <child link="standoff_rod_${prefix}"/>
    </joint>
  </xacro:macro>

</robot>